<div class="profile-image">
  <% if @profile.image.present? %>
    <%= image_tag @profile.image,class:"image" %>
    <%= link_to "プロフィール編集", edit_profile_path(@profile.id), method: :get, class: "profile-edit" %>
  <% else %>
    <%= image_tag "no_image.png",class:"image" %>
    <%= link_to "プロフィール編集", edit_profile_path(@profile.id), method: :get, class: "profile-edit" %>
  <% end %>
</div>

<div class="nickname">
  <%= @profile.user.nickname %>
</div>

<div class="info">
  <table class="profile-table">
    <tr class="profile-tr">
      <th class="profile-th">釣り歴</th>
      <td class="profile-td"><%= @profile.career %>年</td>
    </tr>
    <tr class="profile-tr">
      <th class="profile-th">主な釣り場</th>
      <td class="profile-td"><%= @profile.field %></td>
    </tr>
    <tr class="profile-tr">
      <th class="profile-th">自己紹介</th>
      <td class="profile-td"><%= @profile.text %></td>
    </tr>
  </table>
</div>


